/*
yellow: E0D43D
darkgrey: 30,30,32
mediumgre: 40,40,42
*/

QTreeView {
	border-radius: 4px;
	background-color: rgb(30, 30, 32);
	alternate-background-color: rgb(25, 25, 25);
	color: #fafafa;
}
QTreeView::item:selected {
	background-color: rgb(40, 60, 80);
	border: 2px red;
}



QToolBar {

	background-color: #E0D43d;
    color: #090909;
	border: none;
	border-top: 2px solid #E0D43D;
	padding: 6px;
    min-width: 25px;
    min-height: 25px;
}

QPushButton {

	border-radius: 4px;
    background-color: rgb(30, 30, 30);
    color: #fafafa;
    min-width: 30px;
    min-height: 30px;

}

QPushButton::hover {
    background-color: rgb(150,50,90);
}

QStatusBar {
    background-color: rgb(30, 30, 32);
    color: #fafafa;
}

QFrame{
	border-radius: 4px;
	background-color: rgb(30, 30, 32);
	alternate-background-color: rgb(25, 25, 25);
	color: #fafafa;
}

QLabel{
    color: #fafafa
}